<?xml version="1.0" encoding="UTF-8"?>

<widget id="Aida" xmlns:gap="http://phonegap.com/ns/1.0" version="0.0.1">
        <name>Aida</name>
        <description>
            Sales and Recruiting Software for the Mobile Professional
        </description>
        <author email="alex.armstrong@aidacreative.com" href="http://aidacreative.com">
            Aida Creative Group
        </author>
        <preventFromSleep>false</preventFromSleep>
        <content src="http://dev.exartu.com" />
        <icon src="icon.png" />
        <gap:splash src="splashscreen.png" />
        <feature name="http://api.phonegap.com/1.0/network" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
    </widget>
